
<div class="navbar navbar-default" style="height: 80px">
    <div class="container-fluid">

        <div>
            <div class="navbar-inner">


                <!--<div class="col-lg-3">-->
                <!--<a class="brand" href="index.html"> <img src="images/57x57x300.jpg"></a>-->
                <!--</div>-->

                <ul id="menu_list" class="nav nav-stacked">
                    <li>
                        <div class="col-lg-12 col-md-12 col-sm-12" style="text-align: center; color:red;">
                            <h1>Умный дом iHProject</h1>
                        </div>
                    </li>

                </ul>

            </div>
        </div>
    </div>
</div>

