<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title><%-blocks.header%></title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <!-- bootstrap 3.0.2 -->
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- font Awesome -->
    <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <!-- Ionicons -->
    <link href="css/ionicons.min.css" rel="stylesheet" type="text/css" />
    <!-- Morris chart -->
    <link href="css/morris/morris.css" rel="stylesheet" type="text/css" />
    <!-- jvectormap -->
    <link href="css/jvectormap/jquery-jvectormap-1.2.2.css" rel="stylesheet" type="text/css" />
    <!-- fullCalendar -->
    <link href="css/fullcalendar/fullcalendar.css" rel="stylesheet" type="text/css" />
    <!-- Daterange picker -->
    <link href="css/daterangepicker/daterangepicker-bs3.css" rel="stylesheet" type="text/css" />
    <!-- Theme style -->
    <link href="css/ihplocal.css" rel="stylesheet" type="text/css" />
    <link href="css/bootstrap-slider/slider.css" rel="stylesheet" type="text/css">
    <link href="fonts/Font-face/stylesheet.css" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" type="text/css" href="/css/jcarousel.skeleton.css">


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <script src="js/jquery-2.1.0.min.js"></script>
    <script src="js/bootstrap.min.js" type="text/javascript"></script>
    <script src="js/plugins/bootstrap-slider/bootstrap-slider.js" type="text/javascript"></script>
    <script type="text/javascript" src="/js/jquery.jcarousel.min.js"></script>
    <script type="text/javascript" src="/js/jcarousel.skeleton.js"></script>
    <script src="/socket.io/socket.io.js"></script>

</head>
<body id="main" class="skin-blue">
<div class="hidden-lg hidden-md">
    Данное разрешение не поддерживается!
</div>
<div class='hidden-sm hidden-xs'>
    <%-partial('../partials/sample/header')%>
    <div class="container-fluid ">

        <div class="row">
            <div class="col-lg-2 col-md-2" >
                <%-partial('../partials/eventpanel')%>
            </div>


            <div id="main" class="col-lg-10 col-md-10">
                <div >
                    <%-body -%>
                </div>
            </div>
        </div>
    </div>
</div>
<!--%-partial('../partials/footer')%-->
</body>
</html>
<script>
    var socket = io.connect(window.location.hostname + ':3000');
    socket.on('message', function (msg) {
        console.log(msg);
        console.log(msg.somedata);
        $('#forchange').text(msg.somedata);
        //socket.emit('my other event', { my: 'data' });

    });
</script>