<img src="/camera/screen.png" id="cameraImage" style="max-width: 426px; max-height: 320px;"/>
<script>
//    setInterval(function() {
//        var myImageElement = document.getElementById('cameraImage');
//        myImageElement.src = '/camera/screen.png?rand=' + Math.random();
//    }, 500);
</script>