<div class="col-md-2" style="width: 300px">
    <!-- small box -->
    <% var cur_value =  parseInt(sensor.sensor.value)%>
    <div class="small-box bg-aqua">

        <div class="inner">
            <h3>
                <span id="sliderText<%=sensor.sensor.id%>"><%=cur_value%></span> &#37;
            </h3>
            <input id="ex<%=sensor.sensor.id%>" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="100"
                   data-slider-step="5" data-slider-value="<%=cur_value%>"

                   style="min-width: 30px; width: 200px"/>
            <p>
                <%=sensor.sensor.name%>
            </p>
        </div>
        <%if(!sensor.online){%>
        <div class="offline">
            <img src="images/offline.png">
        </div>
        <%}else{%>
        <div class="icon">
            <i class="ion ion-lightbulb"></i>
        </div>
        <%}%>

    </div>
</div>
<script>

    $("#ex<%=sensor.sensor.id%>").slider();
    $("#ex<%=sensor.sensor.id%>").on('slide', function(slideEvt) {
        console.log("#ex<%=sensor.sensor.id%>");
        $("#sliderText<%=sensor.sensor.id%>").text(slideEvt.value);
        socket.emit('changeValue', { id: "<%=sensor.sensor.id%>",  value: slideEvt.value });
    });
</script>