<div class="col-md-2" style="width: 200px">
    <!-- small box -->
    <div class="small-box <%= sensor.sensor.value == '0' ? 'bg-green' : 'bg-red' %>">

        <div class="inner">
            <h4>
                <%=sensor.sensor.value == '0' ? 'Закрыто' : 'Открыто'%>
            </h4>
            <p>
                <%=sensor.sensor.name%>
            </p>

        </div>
        <%if(!sensor.online){%>
        <div class="offline">
            <img src="images/offline.png">
        </div>
        <%}else{%>
        <%}%>
    </div>
</div>
