<div class="col-md-2" style="width: 200px">
    <!-- small box -->
    <div class="small-box bg-aqua">

        <div class="inner">
            <h3>
                <span id="sliderText<%=sensor.sensor.id%>">10</span> &#37;
            </h3>
            <input id="ex<%=sensor.sensor.id%>" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="100"
                   data-slider-step="5" data-slider-value="10"
                   style="width: 150px; padding-left: 100px"/>
            <p>
                <%=sensor.sensor.name%>
            </p>
        </div>

        <%if(!sensor.online){%>
        <div class="offline">
            <img src="images/offline.png">
        </div>
        <%}else{%>
        <%}%>
    </div>
</div>
<script>
    $("#ex<%=sensor.sensor.id%>").slider();
    $("#ex<%=sensor.sensor.id%>").on('slide', function(slideEvt) {
        $("#sliderText<%=sensor.sensor.id%>").text(slideEvt.value);
    });
</script>