<div class="col-md-2" style="width: 200px;">
    <!-- small box -->
    <a href="#" class="small-box bg-aqua">
        <div class="inner">
            <h3>
                <%=sensor.sensor.value%> &deg;С
            </h3>
            <p>
                <%=sensor.sensor.name%>
            </p>
        </div>
        <%if(!sensor.online){%>
            <div class="offline">
                <img src="images/offline.png">
            </div>
        <%}else{%>
        <%}%>

    </a>
</div>