<% if (user) { %>
<% layout('./layout/page') -%>
<%block('title', 'Главная')%>
<div id="sensor_container">
    <%-partial('./partials/sensors')%>
</div>
<%}else{%>
<%-partial('./partials/lock')%>
<%}%>