<% if (user) { %>
<% layout('./layout/page') -%>
<%block('title', 'Главная')%>
<div id="sensor_container">
    <%-partial('./partials/sensors')%>
</div>
<%}else{%>
<%-partial('./partials/lock')%>
<%}%>
<div class="row">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-6"><div class="well">2</div></div>
            <div class="col-md-6"><div class="well">3</div></div>
        </div>
        <div class="row">
            <div class="col-md-6"><div class="well">4</div></div>
            <div class="col-md-6"><div class="well">5</div></div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="small-box bg-green">
            <div class="inner">
                <h3>
                    53<sup style="font-size: 20px">%</sup>
                </h3>
                <p>
                    Bounce Rate
                </p>
            </div>
            <div class="icon">
                <i class="ion ion-stats-bars"></i>
            </div>
            <a href="#" class="small-box-footer">
                More info <i class="fa fa-arrow-circle-right"></i>
            </a>
        </div>
    </div>

</div>
<div class="row">
    <div class="col-md-4">
        <div class="small-box bg-green">
            <div class="inner">
                <h3>
                    53<sup style="font-size: 20px">%</sup>
                </h3>
                <p>
                    Bounce Rate
                </p>
            </div>
            <div class="icon">
                <i class="ion ion-stats-bars"></i>
            </div>
            <a href="#" class="small-box-footer">
                More info <i class="fa fa-arrow-circle-right"></i>
            </a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="well">7</div>
    </div>
    <div class="col-md-4">
        <div class="well">8</div>
    </div>
</div>