<% layout('./layout/sample_page') -%>
<%block('title', 'Главная')%>
<row>
    <div class="col-md-5" style="width: 430px;">
    <%-partial('./partials/widgets/video')%>
    </div>
    <div class="col-md-7">
    <row>

        <div class="col-md-12">
        <div style="text-align: center" >
            <h3>Управление освещением</h3>
        </div>
        <%
            var sensor = global.sensorsByExternal.get('devices.6.instances.0.data');
        %>
        <%-partial('./partials/sensor_view/'  + sensor.sensor.getTemplate(), {sensor: sensor})%>
        <button class="btn btn-success btn-lg" id="preset2">Лампочка</button>
        </div>
    </row>
    <row>

        <div class="col-md-12">
            <div style="text-align: center" >
                <h3>Управление теплым полом</h3>
            </div>
            <%
            var sensor = global.sensorsByExternal.get('devices.9.instances.0.data');
            %>
            <%-partial('./partials/sensor_view/'  + sensor.sensor.getTemplate(), {sensor: sensor})%>
            <button class="btn btn-success btn-lg" id="preset4">Теплый пол</button>
        </div>
    </row>
    </div>
</row>
<row>

    <div class="col-md-12">
        <%
        var sensor = global.sensorsByExternal.get('devices.5.instances.0.data');
        %>
        <%-partial('./partials/sensor_view/'  + sensor.sensor.getTemplate(), {sensor: sensor})%>
        <button class="btn btn-success btn-lg" id="preset1">Дверь</button>
    </div>
</row>
<row>

    <div class="col-md-12">
        <%
        var sensor = global.sensorsByExternal.get('devices.12.instances.1.data');
        %>
        <%-partial('./partials/sensor_view/'  + sensor.sensor.getTemplate(), {sensor: sensor})%>

        <%
        var sensor = global.sensorsByExternal.get('devices.12.instances.2.data');
        %>
        <%-partial('./partials/sensor_view/'  + sensor.sensor.getTemplate(), {sensor: sensor})%>
        <%
        var sensor = global.sensorsByExternal.get('devices.12.instances.3.data');
        %>
        <%-partial('./partials/sensor_view/'  + sensor.sensor.getTemplate(), {sensor: sensor})%>

    </div>

</row>

<script>

    document.getElementById('preset2').addEventListener('click', function() {
        socket.emit('changeCameraView', { value: 2 });
    }, false);
    document.getElementById('preset1').addEventListener('click', function() {
        socket.emit('changeCameraView', { value: 1 });
    }, false);
    document.getElementById('preset4').addEventListener('click', function() {
        socket.emit('changeCameraView', { value: 4 });
    }, false);
</script>

