
    <div class="box box-info">
        <div class="box-header">
            <i class="fa fa-bullhorn"></i>
            <h3 class="box-title">События</h3>
        </div><!-- /.box-header -->
        <div class="box-body">
            <div class="callout callout-danger">
                <h4>Опасность!</h4>
                <p>Стекло в кухне разбито!</p>
            </div>
            <div class="callout callout-info">
                <h4>Информация</h4>
                <p>Заданная температура достигнута</p>
            </div>
            <div class="callout callout-warning">
                <h4>Внимание!</h4>
                <p>Открыта двер на кухню</p>
            </div>
            <div class="callout callout-danger">
                <h4>Опасность!</h4>
                <p>Стекло в кухне разбито!</p>
            </div>
            <div class="callout callout-info">
                <h4>Информация</h4>
                <p>Заданная температура достигнута</p>
            </div>

        </div><!-- /.box-body -->
            <div class="btn-group">
                <button type="button" class="btn btn-danger"><i class="fa fa-bell"></i></button>
                <button type="button" class="btn btn-warning"><i class="fa fa-warning"></i></button>
                <button type="button" class="btn btn-info"><i class="fa fa-info"></i></button>
            </div>

    </div><!-- /.box -->
