<div class="navbar-fixed-bottom row-fluid" style="background-color: #00acd6">
    <div class="navbar-inner">
        <div class="container">
            <div class="wrapper">
                <div class="jcarousel-wrapper">

                    <!-- Carousel -->
                    <div class="jcarousel">
                        <ul>
                            <% for(var one_map in global.iMaps){
                                console.log(one_map);
                            %>
                            <li>
                                <div class="photo" style="float:left; margin:2px">
                                    <a href="#" style="background:url('/images/nav/main_home.png'); position:relative;
                                        width:96px; height:96px; display:block;">
                                        <span style="display:block;position:absolute;bottom:0;left:0;right:0;
                                              background:white;background:rgba(255,255,255,0.25);color:#000000"><%= global.iMaps[one_map].title %></span>
                                    </a>
                                </div>
                                <!--<a href="#"><img src="/images/nav/main_home.png" alt="<%= global.iMaps[one_map].title %>" width="96" height="96"/></a>-->
                            </li>
                            <% } %>
                        </ul>
                    </div>

                    <!-- Prev/next controls -->
                    <a href="#" class="jcarousel-control-prev">&lsaquo; Prev</a>
                    <a href="#" class="jcarousel-control-next">Next &rsaquo;</a>

                    <!-- Pagination -->
                    <!--p class="jcarousel-pagination">
                        <!-- Pagination items will be generated in here -->


                </div>

            </div>

        </div>
    </div>
</div>
