
<div class="navbar navbar-default" style="height: 120px">
    <div class="container-fluid">

    <div style="min-width: 400px">
    <div class="navbar-inner">


            <!--<div class="col-lg-3">-->
                <!--<a class="brand" href="index.html"> <img src="images/57x57x300.jpg"></a>-->
            <!--</div>-->

        <ul id="menu_list" class="nav nav-stacked">
            <li>
                <div class="col-lg-1 col-md-1 col-sm-2" style="text-align: left; color:red; width: 140px;">
                    <h1>Умный дом</h1>
                </div>
            </li>
                <% for(var one_map in global.iMaps){
                %>
                <li>
                    <div style="float:left; margin:2px">
                        <a href="#" style=" position:relative;
                                        width:96px; height:96px; display:block;">
                            <img src="/images/nav/main_home.png">
                            <div >
                                <%= global.iMaps[one_map].title %>
                            </div>
                        </a>
                    </div>
                    <!--<a href="#"><img src="/images/nav/main_home.png" alt="<%= global.iMaps[one_map].title %>" width="96" height="96"/></a>-->
                </li>
                <% } %>

        </ul>

    </div>
    </div>
    </div>
</div>

