
<ul class="nav pull-left" style="margin-right: 10px; margin-top: -10px; z-index: 100000; min-height: 500px">
    <div>
        <div class="panel-heading"><h4>Модули</h4></div>
        <ul id="menu_list" class="nav nav-stacked">
            <li id="light_li" class="disabled" ><a id="light" href="#"><img src="/images/menu/light.png" width="48" height="48"/></a></li>
            <li id="temp_li"><a id="temp" href="#"><img src="/images/menu/temp.png" width="48" height="48"/></a></li>
            <li id="door_li"><a id="door" href="#"><img src="/images/menu/door.png" width="48" height="48"/></a></li>
            <li id="movies_li"><a id="movies" href="#"><img src="/images/menu/movies.png" width="48" height="48"/></a></li>
            <li id="alert_li"><a id="alert" href="#"><img src="/images/menu/alert.png" width="48" height="48"/></a></li>
            <li id="camera_li"><a id="camera" href="#"><img src="/images/menu/camera.png" width="48" height="48"/></a></li>
        </ul>
    </div><!-- /.navbar-collapse -->
</ul>

<script>

    $(document).ready(function() {
        $('#menu_list').children().each(function(){
            $(this).on("click", function(){
                $('#menu_list').children().removeClass('disabled');
                $(this).addClass('disabled');
                jQuery.ajax({
                    url: "filter_sensors",
                    data: 'org_id=',
                    type: "POST",
                    success: function(result){

                        $("#sensor_list").remove();
                        $("#sensor_container").html(result);
                    },
                    error: function(){
                        alert('Error occured');
                    }
                });
            });
        })
    });

</script>
