<!DOCTYPE html>
<html class="lockscreen">
<head>
    <meta charset="UTF-8">
    <title>iHProject Умный дом Авторизация</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="css/ihplocal.css" rel="stylesheet" type="text/css" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<div class="center">
    <div class="headline text-center">
        Система управления Умным Домом "iHProject"
    </div>

    <form name="login-form">
        <div class="lockscreen-name">Авторизация</div>


        <div class="lockscreen-item">

            <div class="lockscreen-image">
                <img src="images/avatar5.png" alt="user image"/>
            </div>

            <div class="lockscreen-credentials">

                <div class="input-group">
                    <input name="username" class="form-control" placeholder="логин" />
                    <input name="password" type="password" class="form-control" placeholder="пароль" />
                    <div class="input-group-btn">
                        <button type="submit" class="btn btn-flat"><i class="fa fa-arrow-right text-muted"></i></button>
                    </div>
                </div>
            </div>

        </div>
        <div class="error-lock-screen"></div>
        <div class="lockscreen-link">
            <a href="login.html">Регистрация</a>
        </div>

    </form>
</div><!-- /.center -->


<script src="js/jquery-2.1.0.min.js"></script>
<script src="js/bootstrap.min.js" type="text/javascript"></script>


<script type="text/javascript">

    jQuery.fn.center = function() {
        this.css("position", "fixed");
        this.css("top", Math.max(0, (($(window).height() - $(this).outerHeight()) / 2) +
                $(window).scrollTop()) - 30 + "px");
        this.css("left", Math.max(0, (($(window).width() - $(this).outerWidth()) / 2) +
                $(window).scrollLeft()) + "px");
        return this;
    }

    $(document.forms['login-form']).on('submit', function() {
        var form = $(this);

        $('.error', form).html('');
        //$(":submit", form).button("loading");
        $.ajax({
            url: "/login",
            method: "POST",
            data: form.serialize(),
            complete: function() {
                $(":submit", form).button("reset");
            },
            statusCode: {
                200: function() {
                    //form.html("Вы вошли в сайт").addClass('alert-success');
                    window.location.href = "/";
                },
                403: function(jqXHR) {
                    console.log('error');
                    var error = JSON.parse(jqXHR.responseText);
                    $('.error-lock-screen', form).html(error.message);

                }
            }
        });
        return false;
    });
</script>
</body>
</html>