<div id="sensor_list">
    <row>

        <div id="sensor_list">
            <%if(sensors){

                var sensor;
                    for(var sensor_id in sensors){
                sensor = global.sensors.get(sensors[sensor_id].sensor.toHexString());
                //if(sensor.type == 5)continue;

            %>
            <%-partial('./sensor_view/' + sensor.sensor.getTemplate(), {sensor: sensor})%>

            <%} }%>
        </div>
    </row>
</div>